<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Exams</h2>
          </div>
          <div class="body">
            <form [formGroup]="examListForm!" class="search-form m-4" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Branch</mat-label>
                    <mat-select formControlName="branchId">
                      <mat-option *ngFor="let branch of branchesList" [value]="branch.branchId">
                        {{ branch.branchName }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="examListForm?.get('branchId')?.hasError('required')">
                      Branch is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <div class="float-end">
                    <button mat-raised-button [disabled]="!examListForm!.valid" color="primary"
                      class="mt-2">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>


      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">

          <div class="body table-responsive">
            <table mat-table [dataSource]="dataSource" matSort matPaginator>

              <!-- Exam ID Column -->
              <ng-container matColumnDef="examId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Exam ID </th>
                <td mat-cell *matCellDef="let element"> {{element.examId}} </td>
              </ng-container>

              <!-- Exam Name Column -->
              <ng-container matColumnDef="examName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Exam Name </th>
                <td mat-cell *matCellDef="let element"> {{element.examName}} </td>
              </ng-container>

              <!-- Description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.examsInfo.description}} </td>
              </ng-container>

              <!-- Start Date Column -->
              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                <td mat-cell *matCellDef="let element"> {{element.examsInfo.startDate | date}} </td>
              </ng-container>

              <!-- End Date Column -->
              <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                <td mat-cell *matCellDef="let element"> {{element.examsInfo.endDate | date}} </td>
              </ng-container>

              <!-- Date Created Column -->
              <ng-container matColumnDef="dateCreated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
                <td mat-cell *matCellDef="let element"> {{element.dateCreate | date}} </td>
              </ng-container>

              <!-- Active Column -->
              <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                <td mat-cell *matCellDef="let element"> {{element.isActive ? 'Yes' : 'No'}} </td>
              </ng-container>

              <!-- Edit Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button class="m-2" (click)="editExam(element)" color="primary">Edit</button>
                  <button mat-raised-button class="m-2" (click)="assignClass(element)" color="primary">Assign
                    Class</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Edit Dialog Template -->
<ng-template #editDialog let-data>
  <h1 mat-dialog-title>Edit Exam</h1>
  <div mat-dialog-content>
    <form class="m-4" [formGroup]="editForm">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Branch</mat-label>
            <mat-select formControlName="branch">
              <mat-option *ngFor="let branch of branchesList" [value]="branch.branchId">
                {{ branch.branchName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editForm.get('branch')?.hasError('required')">
              Branch is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Exam</mat-label>
            <mat-select formControlName="exam">
              <mat-option *ngFor="let exam of examList" [value]="exam.examId">
                {{ exam.examName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editForm.get('exam')?.hasError('required')">
              Exam is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" [min]="today">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #startDatePicker></mat-datepicker>
            <mat-error *ngIf="editForm.get('startDate')?.hasError('required')">
              Start date is required
            </mat-error>
          </mat-form-field>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" [min]="today">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #endDatePicker></mat-datepicker>
            <mat-error *ngIf="editForm.get('endDate')?.hasError('required')">
              End date is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="editForm.get('description')?.hasError('required')">
              description is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button (click)="onUpdate()">Edit</button>
  </div>
</ng-template>

<!-- assign exam to class Dialog Template -->
<ng-template #assignExamToClassDialog>
  <h1 mat-dialog-title>Assign Class</h1>
  <div mat-dialog-content>
    <form class="m-2" [formGroup]="assignForm">
      <div class="row">
        <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Exam</mat-label>
            <mat-select formControlName="exam">
              <mat-option [value]="selectedExam.examsInfo.examInfoId">
                {{ selectedExam.examName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="assignForm.get('exam')?.hasError('required')">
              Branch is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select formControlName="class" multiple>
              <mat-option *ngFor="let class of classList" [value]="class.classid">
                {{ class.classname }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editForm.get('class')?.hasError('required')">
              Exam is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button (click)="assignExamClass()" [disabled]="!assignForm.valid">Add</button>
  </div>
</ng-template>