<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Academic Year</h2>
                    </div>
                    <div class="body">
                        <form class="register-form m-4" [formGroup]="register!" (ngSubmit)="onRegister()">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Academic Year</mat-label>
                                        <input matInput formControlName="academicYear">
                                        <mat-error *ngIf="register?.get('academicYear')?.hasError('required')">
                                            Academic Year is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="btn-space" [disabled]="!register?.valid" mat-raised-button
                                        color="primary">Submit</button>
                                    <button type="button" mat-raised-button color="warn">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Academic Years</h2>
                    </div>
                    <div class="body table-responsive">
                        <table mat-table [dataSource]="academicData">
                            <!-- Academic ID Column -->
                            <ng-container matColumnDef="academicId">
                              <th mat-header-cell *matHeaderCellDef> Academic ID </th>
                              <td mat-cell *matCellDef="let element"> {{ element.academicId }} </td>
                            </ng-container>
                          
                            <!-- Academic Year Column -->
                            <ng-container matColumnDef="academicYear">
                              <th mat-header-cell *matHeaderCellDef> Academic Year </th>
                              <td mat-cell *matCellDef="let element"> {{ element.academicYear }} </td>
                            </ng-container>
                          
                            <!-- Date Created Column -->
                            <ng-container matColumnDef="dateCreated">
                              <th mat-header-cell *matHeaderCellDef> Date Created </th>
                              <td mat-cell *matCellDef="let element"> {{ element.dateCreated | date }} </td>
                            </ng-container>
                          
                            <!-- Is Active Column -->
                            <ng-container matColumnDef="isActive">
                              <th mat-header-cell *matHeaderCellDef> Is Active </th>
                              <td mat-cell *matCellDef="let element"> {{ element.isActive ? 'Yes' : 'No' }} </td>
                            </ng-container>
                          
                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                              <th mat-header-cell *matHeaderCellDef> Actions </th>
                              <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="primary" (click)="editAcademic(element)">
                                  <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="viewAcademic(element)">
                                    <mat-icon>visibility</mat-icon>
                                  </button>
                                <!-- <button mat-icon-button color="warn" (click)="deleteAcademic(element)">
                                  <mat-icon>delete</mat-icon>
                                </button> -->
                              </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="['academicId', 'academicYear', 'dateCreated', 'isActive', 'actions']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['academicId', 'academicYear', 'dateCreated', 'isActive', 'actions'];"></tr>
                          </table>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>