<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Academic Year</h2>
                    </div>
                    <div class="body">
                        <form class="register-form m-4" [formGroup]="register!" (ngSubmit)="onRegister()">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Academic Year</mat-label>
                                        <input matInput formControlName="academicYear">
                                        <mat-error *ngIf="register?.get('academicYear')?.hasError('required')">
                                            Academic Year is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="btn-space" [disabled]="!register?.valid" mat-raised-button
                                        color="primary">Submit</button>
                                    <button type="button" mat-raised-button color="warn">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">

                    <div class="materialTableHeader">
                        <div class="left">
                          <ul class="header-buttons-left ms-0">
                            <li class="tbl-title">
                              <h2>Academic Years</h2>
                            </li>
                            <!-- <li class="tbl-search-box">
                              <label for="search-input"><i class="material-icons search-icon">search</i></label>
                              <input placeholder="Search" type="text" #filter class="browser-default search-field"
                                aria-label="Search box">
                            </li> -->
                          </ul>
                        </div>
                        <div class="right">
                          <ul class="tbl-export-btn">
                            <li class="tbl-header-btn">
                              <div class="m-l-10" matTooltip="ADD">
                                <button mat-mini-fab color="primary" (click)="addAcademic()">
                                  <mat-icon class="col-white">add</mat-icon>
                                </button>
                              </div>
                            </li>
                            <li class="tbl-header-btn">
                              <div class="m-l-10" matTooltip="REFRESH">
                                <button mat-mini-fab color="primary" (click)="loadAcademicYears()">
                                  <mat-icon class="col-white">refresh</mat-icon>
                                </button>
                              </div>
                            </li>
                         
                          </ul>
                        </div>
                      </div>
                    <div class="body table-responsive">
                        <table mat-table [dataSource]="academicData">
                            <!-- Academic ID Column -->
                            <ng-container matColumnDef="academicId">
                              <th mat-header-cell *matHeaderCellDef> Academic ID </th>
                              <td mat-cell *matCellDef="let element"> {{ element.academicId }} </td>
                            </ng-container>
                          
                            <!-- Academic Year Column -->
                            <ng-container matColumnDef="academicYear">
                              <th mat-header-cell *matHeaderCellDef> Academic Year </th>
                              <td mat-cell *matCellDef="let element"> {{ element.academicYear }} </td>
                            </ng-container>
                          
                            <!-- Date Created Column -->
                            <ng-container matColumnDef="dateCreated">
                              <th mat-header-cell *matHeaderCellDef> Date Created </th>
                              <td mat-cell *matCellDef="let element"> {{ element.dateCreated | date }} </td>
                            </ng-container>
                          
                            <!-- Is Active Column -->
                            <ng-container matColumnDef="isActive">
                              <th mat-header-cell *matHeaderCellDef> Is Active </th>
                              <td mat-cell *matCellDef="let element"> {{ element.isActive ? 'Yes' : 'No' }} </td>
                            </ng-container>
                          
                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                              <th mat-header-cell *matHeaderCellDef> Actions </th>
                              <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="editAcademic(element)">
                                      <span>Edit</span>
                                    </button>
                                  </mat-menu>
                                  
                              </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="['academicId', 'academicYear', 'dateCreated', 'isActive', 'actions']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['academicId', 'academicYear', 'dateCreated', 'isActive', 'actions'];"></tr>
                          </table>
                          <mat-paginator [pageSizeOptions]="[10, 20, 50,100]" showFirstLastButtons></mat-paginator>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>