<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2> Create Branch</h2>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="branchForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Branch Name</mat-label>
                                        <input matInput formControlName="branchName" required>
                                        <mat-error *ngIf="branchForm.get('branchName')?.hasError('required')">
                                            Branch name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Branch Location</mat-label>
                                        <input matInput formControlName="branchLocation">
                                        <mat-error *ngIf="branchForm.get('branchLocation')?.hasError('required')">
                                            Branch location is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-5">
                                    <label>Branch Logo</label>
                                    <app-file-upload (change)="onFileSelected($event)" formControlName="branchLogo"></app-file-upload>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-5">
                                    <label>Branch cover</label>
                                    <app-file-upload formControlName="coverLogo"></app-file-upload>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="btn-space" [disabled]="!branchForm.valid " mat-raised-button
                                        color="primary">Submit</button>
                                    <button type="button" mat-raised-button color="warn">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>