<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Search</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-12 text-end">
                <button mat-raised-button color="primary" (click)="onSearch()" class="me-2">
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card" mt-3>
          <div class="header">
            <h2>Branches List</h2>
          </div>
          <div class="body">
            <p-table #dt [value]="branchesData" 
                    [rows]="10" 
                    [paginator]="true"
                    [rowHover]="true"
                    [globalFilterFields]="['branchId', 'branchName', 'branchLocation']"
                    styleClass="p-datatable-sm p-datatable-gridlines">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="branchId">Branch ID <p-sortIcon field="branchId"></p-sortIcon></th>
                  <th pSortableColumn="branchName">Branch Name <p-sortIcon field="branchName"></p-sortIcon></th>
                  <th pSortableColumn="branchLocation">Branch Location <p-sortIcon field="branchLocation"></p-sortIcon></th>
                  <th pSortableColumn="dateCreated">Date Created <p-sortIcon field="dateCreated"></p-sortIcon></th>
                  <th pSortableColumn="isActive">Status <p-sortIcon field="isActive"></p-sortIcon></th>
                  <th style="width: 150px">Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-element>
                <tr>
                  <td>{{ element.branchId }}</td>
                  <td>{{ element.branchName }}</td>
                  <td>{{ element.branchLocation }}</td>
                  <td>{{ element.dateCreated | date:'medium' }}</td>
                  <td>
                    <p-tag [value]="element.isActive ? 'Active' : 'Inactive'" 
                          [severity]="element.isActive ? 'success' : 'danger'"></p-tag>
                  </td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="toggleBranchStatus(element)">
                        <mat-icon>{{ element.isActive ? 'block' : 'check_circle' }}</mat-icon>
                        <span>{{ element.isActive ? 'Deactivate' : 'Activate' }}</span>
                      </button>
                      <button mat-menu-item (click)="assignedAcademic(element)">
                        <mat-icon>school</mat-icon>
                        <span>Assigned Academics</span>
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6" class="text-center">No branches found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>