<h1 mat-dialog-title>Assign Class</h1>
<form [formGroup]="assignForm!" (ngSubmit)="onSubmit()">
<div mat-dialog-content>
    <div class="row mt-4 mb-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Level</mat-label>
                <input matInput formControlName="level" required readonly="">
            </mat-form-field>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Branch</mat-label>
                <mat-select  formControlName="branch" (selectionChange)="onSelectionChange($event.value)">
                  <mat-option *ngFor="let branch of branchesList" [value]="branch.branchId">
                    {{ branch.branchName }}
                  </mat-option>
                </mat-select>
                <div class="loading-container">
                    <mat-spinner *ngIf="isBranchLoading" class="spinner" diameter="20"></mat-spinner>
                  </div>
                <mat-error *ngIf="assignForm?.get('branch')?.hasError('required')">
                  Branch is required
                </mat-error>
              </mat-form-field>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Class</mat-label>
                <mat-select  formControlName="class" multiple>
                  <mat-option *ngFor="let class of classesList" [value]="class">
                    {{ class.classname }}
                  </mat-option>
                </mat-select>
                <div class="loading-container">
                    <mat-spinner *ngIf="isClassLoading" class="spinner" diameter="20"></mat-spinner>
                  </div>
                <mat-error *ngIf="assignForm?.get('class')?.hasError('required')">
                  Class is required
                </mat-error>
              </mat-form-field>  
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button [disabled]="!assignForm?.valid" type="submit" color="primary">Assign</button>
    <button mat-raised-button type="button" (click)="closeDialog()" color="warn">Close</button>
</div>
</form>