.table-container {
  height: 400px;
  overflow: auto;
}

//.mat-column-actions {
//  display: flex;
//  justify-content: flex-start;
//}

//.action-buttons {
//  display: flex;
//  flex-direction: row;
//  gap: 8px;
//}
//
//.action-button {
//  white-space: nowrap;
//}

.mat-header-cell, .mat-cell {
  padding: 8px 16px;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-table {
  width: 100%;
}

.container {
  padding: 16px;
}

.mat-form-field {
  width: 200px;
  margin-right: 16px;
}

button {
  min-width: 100px;
}
