<h1 mat-dialog-title>{{inputData.title}}</h1>
<div mat-dialog-content>
    <form [formGroup]="register" class="register-form m-4" (ngSubmit)="mySave()">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" required>
                    <!-- <i class="material-icons-two-tone color-icon p-3" matSuffix>school</i> -->
                    <mat-error *ngIf="register.get('firstName')?.hasError('required')">
                        First name is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="middleName" required>
                    <mat-error *ngIf="register.get('middleName')?.hasError('required')">
                        Middle name is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" required>
                    <mat-error *ngIf="register.get('lastName')?.hasError('required')">
                        Last name is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-error *ngIf="register.get('username')?.hasError('required')">
                        User name is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <span matPrefix>
                        <mat-icon class="m-2">phone</mat-icon>
                    </span>
                    <input matInput formControlName="mobile" required />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="register.get('email')?.hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="register.get('email')?.hasError('email')">
                        Invalid email
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="register.get('password')?.hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="register.get('password')?.hasError('minlength')">
                        Password must be at least 8 characters long.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button [disabled]="!register.valid" (click)="mySave()" color="primary">Save</button>
    <button mat-raised-button (click)="closeDialog()" color="warn">Close</button>
    <!-- <button mat-raised-button [mat-dialog-close]="closedMessage" color="accent">Cancel</button> -->
</div>