<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <h2>Levels</h2>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="ADD">
                                        <button mat-mini-fab color="primary" (click)="null">
                                            <mat-icon class="col-white">add</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="REFRESH">
                                        <button mat-mini-fab color="primary" (click)="null">
                                            <mat-icon class="col-white">refresh</mat-icon>
                                        </button>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="body table-responsive">
                        <mat-table [dataSource]="levelsData">
                            <ng-container matColumnDef="levelid">
                              <mat-header-cell *matHeaderCellDef> Level ID </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{ element.levelid }} </mat-cell>
                            </ng-container>
                          
                            <ng-container matColumnDef="levelname">
                              <mat-header-cell *matHeaderCellDef> Level Name </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{ element.levelname }} </mat-cell>
                            </ng-container>
                          
                            <ng-container matColumnDef="datecreated">
                              <mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{ element.datecreated | date }} </mat-cell>
                            </ng-container>
                          
                            <ng-container matColumnDef="isactive">
                              <mat-header-cell *matHeaderCellDef> Is Active </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{ element.isactive }} </mat-cell>
                            </ng-container>
                            
                            <!-- Columns... -->
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="assingClass(element)">
                                          <span>Assign Class</span>
                                        </button>
                                        <button mat-menu-item (click)="viewClass(element)">
                                            <span>View Class</span>
                                          </button>
                                      </mat-menu>
                                </mat-cell>
                            </ng-container>
                          
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                          </mat-table>
                          <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>