<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Search Student</h2>
          </div>
          <div class="body">
            <form [formGroup]="classForm!" class="search-form m-4" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Branch</mat-label>
                    <mat-select formControlName="branchId" (selectionChange)="onBranchChange()">
                      <mat-option *ngFor="let branch of branchesList" [value]="branch.branchId">
                        {{ branch.branchName }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="classForm?.get('branchId')?.hasError('required')">
                      Branch is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Class</mat-label>
                    <mat-select formControlName="classId" (selectionChange)="onClassChange()">
                      <mat-option *ngFor="let clas of classList" [value]="clas.class.classid">
                        {{ clas.class.classname }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="classForm?.get('classId')?.hasError('required')">
                      Class is required
                    </mat-error>
                    <div class="spinner-container" *ngIf="isLoadingClass">
                      <mat-spinner [diameter]="20" mode="indeterminate"></mat-spinner>
                    </div>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Section</mat-label>
                    <mat-select formControlName="sectionId">
                      <mat-option *ngFor="let sect of sectionList" [value]="sect.sectionid">
                        {{ sect.sectionname }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Roll Number</mat-label>
                    <input matInput formControlName="rollNumber">
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <div class="float-end">
                    <button mat-raised-button [disabled]="!classForm!.valid" color="primary"
                      class="mt-2">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>


      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2> Classes</h2>
          </div>
          <div class="body table-responsive">
            <p-table [value]="students" [paginator]="true" [rows]="10" 
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 20]"
                    styleClass="p-datatable-striped">
              <ng-template pTemplate="header">
                <tr>
                  <th>Student ID</th>
                  <th>Roll Number</th>
                  <th>Name</th>
                  <th>Class</th>
                  <th>Section</th>
                  <th>Responsible Name</th>
                  <th>Responsible Phone</th>
                  <th>Pob</th>
                  <th>Academic Year</th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-element>
                <tr>
                  <td>{{ element.studentId }}</td>
                  <td>{{ element.rollNumber }}</td>
                  <td>{{ element.firstName }} {{ element.middleName }} {{ element.lastName }}</td>
                  <td>{{ element.className }}</td>
                  <td>{{ element.sectionName }}</td>
                  <td>{{ element.guardianName }}</td>
                  <td>{{ element.guardianPhone }}</td>
                  <td>{{ element.pob }}</td>
                  <td>{{ element.academicYear }}</td>
                  <td>
                    <button mat-raised-button class="m-2" (click)="editUsers(element)" color="primary">Edit</button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>