
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4 d-flex justify-content-center">
                <span class="material-icons iconColor">dangerous</span>
                <div class="col-md-4 mt-2">
                    <h6 class="text-start"> Failure</h6>
                </div>
            </div>
        </div>
    </div>
    <mat-dialog-content>
        <p class="my-2">{{data.message}}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button matDialogClose>Close</button>
    </mat-dialog-actions>
</div>